.switch-container {
    display: flex; /* Располагаем элементы в ряд */
    align-items: center; /* Выравниваем элементы по вертикали */
}

.switch {
    appearance: none; /* Скрываем стандартный внешний вид свитча */
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background-color: #ccc; /* Цвет фона свитча */
    position: relative;
    cursor: pointer;
}

.switch::before {
    content: '';
    position: absolute;
    left: 5px;
    top: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white; /* Цвет ползунка */
    transition: left 0.2s; /* Анимация переключения */
}

.switch:checked::before {
    left: 25px; /* Перемещаем ползунок вправо при включении свитча */
}

.switch-label {
    margin-left: 10px;
    cursor: pointer;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-group {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.checkbox-group label {
    margin-left: 10px; /* Отступ слева от чекбокса */
}

.toggle-button {
    background-color: #4caf50; /* Зеленый цвет фона */
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px; /* Отступ слева от метки */
}

.sub-checkboxes {
    margin-left: 20px;
    display: none;
}

.checkbox-group .group-checkbox:checked ~ .sub-checkboxes {
    display: block; /* Отображаем вложенные элементы, если родительский чекбокс выбран */
}
